<div class="row m-5">
  <div class="col-md-12 ">
  
  <h2 class="text-center">Login</h2>
  <form class="form-horizontal" #f="ngForm" novalidate (ngSubmit)= 'onLogin()'>
    
    <hr class="colorgraph">
    
    <div class="col-xs-12 mt-5	">
    
        <mat-form-field class="example-full-width">
          <input matInput name="userName"  
              placeholder="User Name" tabindex="1" [(ngModel)]= "userModel.userName"
              required #userName="ngModel">
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <input matInput type="password" name="password"
            placeholder="Password" tabindex="2"
            [(ngModel)] = "userModel.password" required #password="ngModel">
        </mat-form-field>
      <!-- <div class="col-sm-10">
        <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="username">Username:</label>
        <div class="col-sm-10">
          
        </div>
        </div>
      </div> -->
    <!-- </div>
    <div class="row" >
      <div class="col-sm-10 mt-3">
        <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="pwd">Password:</label>
        <div class="col-sm-10">
          
        </div>
        </div> 
      </div>-->
    
    
    
    <hr class="colorgraph">
    <div class="row">
    
      <div class="col-md-12"><input type="submit" value="Log In" class="btn btn-primary btn-block btn-lg"
         tabindex="7"
         [disabled] = f.invalid></div>
    </div>
    </div>
    <hr class="colorgraph">				
    </form>			
</div>
</div>