<div>
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline ">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

    </form>
    <div class="pull-right">
      <!-- Button trigger modal -->
      <button class="btn btn-outline-primary mb-2 mr-2" (click)="onAdd(content)">Add Video</button>
    </div>
  </nav>
</div>
<div class="table table-responsive mt-8">
  <table class="table  table-bordered table-striped table-hover ">
    <tr>
      <th class="text-center">Title</th>
      <th class="text-center">Running Time</th>
      <th class="text-center">Genre</th>
      <th class="text-center">Rating</th>
      <th class="text-center">Director</th>
      <th class="text-center">Status</th>
      <th class="text-center"></th>
    </tr>
    <tbody>
      <tr *ngFor="let video of videoList">
        <td>{{video.title}}</td>
        <td>{{video.runningTime}}</td>
        <td>{{video.genre}}</td>
        <td>{{video.rating}}</td>
        <td>{{video.director}}</td>
        <td>{{video.status}}</td>
        <td>
          <a href="" class="btn btn-outline-primary btn-sm">
            Update
          </a>
          <a href="" class="btn btn-danger btn-sm">
            Delete
          </a>
        </td>
      </tr>

    </tbody>
  </table>

  <!-- Modal Add Video-->
  <div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Add Video</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body float-right">
        
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="videoModel.title">
          </div>

          <div class="form-group">
            <label for="runningtime">Running Time:</label>
            <input type="text" class="form-control" name="runningtime" [(ngModel)]="videoModel.runningTime">
          </div>

          <div class="form-group">
            <label for="genre">Genre:</label>
            <select class="form-control" name="genre" [(ngModel)]="videoModel.genre">
              <option *ngFor="let genere of generes" [value]="genere.name">{{ genere.name }}</option>
            </select>
          </div>

            <div class="form-group">
              <label for="rating">Rating:</label>
              <select class="form-control" name="rating" [(ngModel)]="videoModel.rating">
                <option *ngFor="let rating of ratings" 
                  [value]="rating.name" >{{
                  rating.name }}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="dir">Director:</label>
              <input type="text" class="form-control" name="dir" [(ngModel)]="videoModel.director">
            </div>

            <div class="form-group">
              <label for="status">Status:</label>
              <select class="form-control" name="status" [(ngModel)]="videoModel.status">
                <option *ngFor="let s of status" [value]="s.name">{{ s.name }}</option>
              </select>
            </div>
            
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="onSave()">Save</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
  </ng-template>
</div>

<!-- End of Modal Add Video-->



</div>
