<div>
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline ">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      
    </form>
    <div class="pull-right">
        <!-- Button trigger modal -->
        <button class="btn btn-outline-primary mb-2 mr-2" (click)="onAdd(content)">Add Video</button>
    </div>
  </nav>
</div>
<div class="table table-responsive mt-8">
  <table class="table  table-bordered table-striped table-hover ">
      <tr>
          <th class="text-center">Title</th>
          <th class="text-center">Running Time</th>
          <th class="text-center">Genre</th>
          <th class="text-center">Rating</th>
          <th class="text-center">Director</th>
          <th class="text-center">Status</th>
          <th class="text-center"></th>
      </tr>       
          <tr>
              <td class=""> Star Wars: The Empire Strikes Back</td>
              <td>120 Minutes</td>
              <td>Science Fiction</td>
              <td>5 Stars</td>
              <td>George Lucas</td>
              <td>Available</td>
              <td class="text-center"><a
                          href="" class="btn btn-danger btn-sm"
                          onclick="return confirm('Are you sure you want to Update this?')">  Update  
                          <span class="glyphicon glyphicon-plus" aria-hidden="true">  </span></a>|
                            <a href="" class="btn btn-danger btn-sm"
                            onclick="return confirm('Are you sure you want to delete this?')">  Delete  
                            <span class="glyphicon glyphicon-plus" aria-hidden="true">  </span></a></td>
          </tr>
          <tr>
            <td class=""> The Godfather</td>
            <td>175 Minutes</td>
            <td>Drama</td>
            <td>5 Stars</td>
            <td>Francis Ford Copolla</td>
            <td>Unavailable</td>
            <td class="text-center"></td>
        </tr>      
  </table>

<!-- Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="onSave()">Save</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
<!-- End of Model-->
</div>