<div>
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline ">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

    </form>
    <div class="pull-right">
      <!-- Button trigger modal -->
      <button class="btn btn-outline-primary mb-2 mr-2" (click)="onAdd(content)">Add Video</button>
    </div>
  </nav>
</div>
<div class="table table-responsive mt-8">
  <table class="table  table-bordered table-striped table-hover ">
    <tr>
      <th class="text-center">Title</th>
      <th class="text-center">Running Time</th>
      <th class="text-center">Genre</th>
      <th class="text-center">Rating</th>
      <th class="text-center">Director</th>
      <th class="text-center">Status</th>
      <th class="text-center"></th>
    </tr>
    <tr>
      <td class="">Star Wars: Return of the Jedi</td>
      <td>120 Minutes</td>
      <td>Science Fiction</td>
      <td>5 Stars</td>
      <td>Richard Marquand</td>
      <td>Available</td>
      <td class="text-center">
        <a href="" class="btn btn-danger btn-sm" (click)="onAdd(content)">
          Update
          <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span></a>|
        <a href="" class="btn btn-danger btn-sm" (click)="onDelete(contentDelete)">
          Delete
          <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span></a></td>
    </tr>
    <tr>
      <td class=""> The Godfather</td>
      <td>175 Minutes</td>
      <td>Drama</td>
      <td>5 Stars</td>
      <td>Francis Ford Copolla</td>
      <td>Unavailable</td>
      <td class="text-center"></td>
    </tr>
  </table>

  <!-- Modal Add Video-->
  <div>
      <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Add Video</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <img src="..." class="rounded float-left img-thumbnail" alt="...">
          <div class="modal-body float-right">
              
            <div class="form-group">
              <label for="title">Title:</label>
              <input type="text" class="form-control" id="title">
            </div>
            <div class="form-group">
              <label for="runningtime">Running Time:</label>
              <input type="text" class="form-control" id="runningtime">
            </div>
            <div class="form-group">
              <label for="genre">Genre:</label>
              <select class="form-control" id="sel1">
                <option
                *ngFor="let genere of generes"
                [value]="genere.id">{{ genere.name }}</option>
              </select>
              <div class="form-group">
                <label for="rating">Rating:</label>
                <select class="form-control" id="sel2">
                  <option *ngFor="let rating of ratings"
                  [value]="rating.id">{{ rating.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="dir">Director:</label>
                <input type="text" class="form-control" id="dir">
              </div>
              <div class="form-group">
                <label for="status">Status:</label>
                <select class="form-control" id="sel3">
                  <option *ngFor="let s of status"
                  [value]="s.id">{{ s.name }}</option>
                </select>
              </div>
              <div>             
              </div>       
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="onSave()">Save</button>
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
          </div>
        </ng-template>
  </div>
  
  <!-- End of Modal Add Video-->
  

  <!-- Modal Delete Video-->
  <div>
      <ng-template #contentDelete let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Delete Video?</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <img src="..." class="rounded float-left img-thumbnail" alt="...">
          <div class="modal-body float-right">
              <p>Are you sure, you want delete?</p>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="onSave()">Save</button>
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
          </div>
        </ng-template>
  </div>
  <!-- End of Modal Delete Video-->
</div>
