<link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
<section class="container">
  <div class="text-center headers">
    <h1 class="">
      Video Store
    </h1> 
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngIf="!autoguard.isLoged">
              <a class="nav-link" routerLink="/home">Home </a>
          </li>
        <li class="nav-item" *ngIf="!autoguard.isLoged">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
        <li class="nav-item" *ngIf="autoguard.isLoged">
          <a class="nav-link" routerLink="/video"> Videos </a>
        </li>
        <li class="nav-item" *ngIf="autoguard.isLoged">
          <a class="nav-link" routerLink="/customer"> Customer </a>
        </li>
      </ul>
      <ul class="pull-right">
        <li class="nav-item">
          <div class="inline text-success">
          
          <a *ngIf="!autoguard.isLoged" class="nav-link text-white" routerLink="/login">Login</a>
          <a *ngIf="autoguard.isLoged" class="btn btn-link" (click)="onLogout()"><h6>{{autoguard.userName}} Logout</h6></a>
        </div>
        </li>
      </ul>   
    </div>
  </nav>
  
  <div class="">
    <router-outlet class="col-12"></router-outlet>
  </div>
  <hr>
<footer class="page-footer footer-dark bg-dark text-white">
	<div class="footer-copyright text-center py-3">
		&copy;
		<script type="text/javascript">
			document.write(new Date().getFullYear());
		</script>
		Comp3123.
	</div>
</footer>
   </section>
   

   
 

